<HTML>
    <head>
        <link rel="stylesheet" href="webstyle.css">

    </head>
    <body>
        <header>
            
                <h1>The shawshank redemption</h1>
            <p> 1994 .R.2hr22min</p>

            
            
        </header>
        <main>
            <div class="row">
                <div class="column">
                    <img src="first.png" alt="first" height="100%" width="700">
                </div>
                <div class="column">
                    <img src="second.png" alt="first" height="600" width="700">

                </div>
                <div class="column">
                    <ul>
                        <li><button><img src="five v.png"></button></li>
                        <li> <button><img src="photo.png"></button></li>
     
                      </ul> 
                     

                </div>
                
               
               
                 
            </div>
            <button>genre</button>
            <h2>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency</h2>
            <hr>
            <h2>Director
                Frank Darabont</h2>
            <hr>
            <h2>writers</h2>
            <p>Stephen King(based on the short novel "Rita Hayworth and the Shawshank Redemption" by)Frank Darabont(screenplay by)</p>
            <hr>
            <h2>Stars
                Tim RobbinsMorgan FreemanBob Gunton</h2>
            <hr>
            <h2>IMDBpro</h2>
            

        </main>
    </body>
</HTML>